<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ranking.css">
    <title>Tetris Ranking</title>
</head>
<body>
    <h1>Tetris Ranking</h1>
    <table>
        <tbody>
            <tr>
                <th>順位</th>
                <td>名前</td>
                <td>スコア</td>
            </tr>
             <tr>
                <th>見出し</th>
                <td>テキストが入ります</td>
                <td>テキストが入ります</td>
            </tr>
             <tr>
                <th>見出し</th>
                <td>テキストが入ります</td>
                <td>テキストが入ります</td>
            </tr>
            <tr>
                <th>見出し</th>
                <td>テキストが入ります</td>
                <td>テキストが入ります</td>
            </tr>
            <tr>
                <th>見出し</th>
                <td>テキストが入ります</td>
                <td>テキストが入ります</td>
            </tr>
        </tbody>
    </table>
</body>
</html>