<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tetris</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .action-wrapper{
            display: inline-flex;
            align-items: start; /* ADD */
            flex-direction: column;
            text-decoration: none;
            background-color: #848bec;
            color: #FFFFFF;
            border-radius: 32px;
            box-shadow: 10px 10px 10px #00000029;
            font-size: 16px;
            padding: 15px 30px;
            margin-top: 100px;
            margin-bottom: 70px;
            position: relative;
            width: 30vw;
            left: 32.5vw;
            right: 30vw;
        }
    </style>
</head>
<body>
    <header>
        <div class="title">tetris</div>
    </header>
    <main>
        <div class="action-wrapper">
            <div class="btn-wrapper">
                <!-- <form action="http://localhost/" method="post" enctype="application/x-www-form-urlencoded" id="form"> -->
                    <!-- <label for="name" class="label">name</label>
                    <input type="text" name="username" id="name"> -->
                    <button type="submit" onclick="location.href='/tetris'"id="button">Game Start</button>
                    <button type="button" onclick="location.href='/ranking'" id="button">Ranking</button>
                    <button type="button">Option</button>
                <!-- </form> -->
            </div>
        </div>
        <script>
            // const input_name = document.getElementById("name");
            // input_name.addEventListener("change",function(){
            //     const button = document.getElementById("button");
            //     button.setAttribute('onclick',"rename();location.href='/tetris'")
            // });

            // let username = null;
            // let rename = function(){
            //     username = document.getElementById("name").value;
                
            // };

        </script>
    </main>
    <footer>
        <div>
            <li>
                <ul>
                    <p>tetris</p>
                    <p>swap所属</p>
                    <p>s.univ</p>
                    <p>T.H</p>
                </ul>
            </li>
        </div>
    </footer>
</body>


</html>