<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tetris</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="title">tetris</div>
    </header>
    <main>
        <div class="action-wrapper">
            <div class="btn-wrapper">
                <button type="button" onclick="location.href='/tetris'">Game Start</button>
                <button type="button" onclick="location.href='./views/config.ejs'">Option</button>
            </div>
            <form action="http://localhost:8000/post" method="post" enctype="application/x-www-form-urlencoded">
                <label for="name" class="label">id  </label>
                <input type="number" name="id" class="input"></input><br>
                <label for="name" class="label">name</label>
                <input type="text" name="name" class="input"></input>
                <button type="submit">Send</button>
           </form>
        </div>
    </main>
    <footer>
        <div>
            <li>
                <ul>
                    <p>tetris</p>
                    <p>swap所属</p>
                    <p>s.univ</p>
                    <p><%=data[0].name%></p>
                </ul>
            </li>
        </div>
    </footer>
</body>
</html>