<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tetris</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="title">tetris</div>
    </header>
    <main>
        <button type="button">
            <a href="/tetris">ゲームを始める</a>
        </button>
        <button type="button">
            <a href="../views/config.ejs">設定</a>
        </button>
    </main>
    <footer>
        <div>
            <li>
                <ul>
                    <p>tetris</p>
                    <p>swap所属</p>
                    <p>埼玉大学</p>
                </ul>
            </li>
        </div>
    </footer>
</body>
</html>